// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~nprogress/nprogress.css";

// noty
@import "~noty/src/noty.scss";
@import "~noty/src/themes/metroui.scss";

// Additional
@import "admin-panel/main";
@import "admin-panel/utilities/form";
