// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Bootstrap
@import "~bootstrap/scss/bootstrap";

$sidebar-width: 200px;

html, body {
  height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  width: $sidebar-width;
  z-index: $zindex-fixed;

  a {
    color: $white;
  }

  .sidebar-title {
    padding: $nav-link-padding-y $nav-link-padding-x;
  }
}

#page-container{
  padding-left: calc(20px + #{$sidebar-width}) !important;
}

#navbar-admin {
  padding-left: calc(20px + #{$sidebar-width}) !important;

  //.sidebar-icon .close{
  //  -webkit-transform: rotate(90deg);
  //  -moz-transform: rotate(90deg);
  //  -o-transform: rotate(90deg);
  //  -ms-transform: rotate(90deg);
  //  transform: rotate(90deg);
  //}
}
