// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Bootstrap
@import "~bootstrap/scss/bootstrap";

$sidebar-width: 200px;

html, body {
  height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  width: $sidebar-width;
  z-index: $zindex-fixed;

  a {
    color: $white;
  }

  .sidebar-title {
    padding: $nav-link-padding-y $nav-link-padding-x;
  }
}

#navbar-admin {
  padding-left: calc(20px + #{$sidebar-width}) !important;
}
