$sidebar-width: 200px;
$nav-height: 40px;
$tab-navigation-height: 34px;
$tab-bg-color: #dadbdc;

@import "_mixin/mixin";
@import "utilities/utilities";

html, body {
  height: 100vh;
}

#admin-app{
  height: 100%;
}

#navbar-admin {
  //.sidebar-icon .close{
  //  -webkit-transform: rotate(90deg);
  //  -moz-transform: rotate(90deg);
  //  -o-transform: rotate(90deg);
  //  -ms-transform: rotate(90deg);
  //  transform: rotate(90deg);
  //}
}
