$sidebar-transitions: ('width 0.5s', 'opacity 0.5s linear');

#navbar-admin {
  padding: 0;

  #navbar-top {
    height: $nav-height;
    padding: 0.2em 1em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

#sidebar-toggle {
  cursor: pointer;
  color: $dark;
  font-size: 1.4rem;
  font-weight: 100;
}

.sidebar {
  @include multiple-transition($sidebar-transitions);
  width: $sidebar-width;

  a {
    color: $white;
  }

  .sidebar-title {
    padding: $nav-link-padding-y $nav-link-padding-x;
  }

  &.close {
    visibility: hidden;
    width: 0;
    opacity: 0;
  }
}
